header {
    background-color: #57613C;
    /* Cor do cabeçalho */
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #acb48f;
    /* Cor de fundo da navegação */
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #b4ba94;
    /* Cor de fundo ao passar o mouse */
    color: black;
}

.container {
    padding: 20px;
}

footer {
    background-color: #5b6334;
    /* Cor do rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: #5b6334;
    /* Cor dos títulos */
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #b4ba94;
    /* Cor de fundo dos itens de lista */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}

*/ body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e    ee6d5;
    /* Cor de fundo */
}

nav {
    background-color: #acb48f;
    /* Cor de fundo da navegação */
    display: flex;
    justify-content: center;
    /* Centraliza os links horizontalmente */
    align-items: center;
    /* Centraliza os links verticalmente */
    padding: 10px 0;
}

nav a {
    display: inline-block;
    color: #fff;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 10px;
    /* Espaço entre os links */
}

nav a:hover {
    background-color: #b4ba94;
    /* Cor de fundo ao passar o mouse */
    color: black;
}

.container {
    padding: 20px;
}

footer {
    background-color: #5b6334;
    /* Cor do rodapé */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    text-align: center;
    margin: 20px 0;
}

h2 {
    color: #5b6334;
    /* Cor dos títulos */
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #b4ba94;
    /* Cor de fundo dos itens de lista */
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #333;
}
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do contêiner */
}