/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Globais */
body {
    font-family: Arial, sans-serif;
    background-color: #D6D9D0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    background-color: #57613C;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    /* Garante que o posicionamento relativo funcione para o ícone */
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #acb48f;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #b4ba94;
}

/* Produtos */
#products {
    margin-top: 50px;
}

.product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 48%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
}

.product-image {
    width: 100%;
    max-width: 350px;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.product-info h4 {
    margin: 0;
}

.product-info p {
    margin: 5px 0;
}

.product-item button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #57613C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-item button:hover {
    background-color: #acb48f;
}

/* Carrinho */
#cart {
    margin-top: 50px;
    position: relative;
    /* Garante que o posicionamento do carrinho funcione */
}

#cart-items {
    list-style-type: none;
    padding: 0;
}

#cart button {
    padding: 10px 20px;
    background-color: #57613C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cart button:hover {
    background-color: #acb48f;
}

/* Rodapé */
footer {
    background-color: #5b6334;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilo para o carrinho */
#cart {
    position: fixed;
    top: 70px;
    /* Ajuste conforme necessário para evitar sobreposição com o cabeçalho */
    right: 20px;
    /* Ajuste conforme necessário para a posição desejada */
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    /* Certifica-se de que o carrinho esteja acima de outros elementos */
}

/* Estilo para o ícone de carrinho */
#cart-icon {
    position: absolute;
    top: 0;
    right: -20px;
    /* Ajuste fino para posicionar o ícone ao lado do texto */
    font-size: 20px;
}

/* Ajuste para o combo de 3 mesas */
.product-item.combo-mesa .product-image {
    max-width: 450px;
    /* Tamanho maior para o combo de mesas */
}

/* Ajuste para o combo de 3 cadeiras */
.product-item.combo-cadeira .product-image {
    max-width: 450px;
    /* Tamanho maior para o combo de cadeiras */
}